body {
  background-color: rgb(85, 148, 182);
  background-image: linear-gradient(rgb(132, 209, 245), rgb(255, 241, 210));
  font-family: "Open Sans", sans-serif;
}
.head {
  color: rgb(245, 129, 148);
  background-color: rgb(255, 244, 244);
  text-align: center;
  margin: 45px auto;
  width: 40%;
  border: 3px solid #9dbae9;
  padding: 10px;
}

.blogpost1 {
  color: rgb(252, 152, 169);
  background-color: rgb(255, 244, 244);
  text-align: center;
  margin: 20px auto;
  width: 40%;
  border: 3px solid #9dbae9;
  padding: 10px;
}

.i1 {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.blogpost2 {
  color: rgb(252, 152, 169);
  background-color: rgb(255, 244, 244);
  text-align: center;
  margin: 20px auto;
  width: 40%;
  border: 3px solid #9dbae9;
  padding: 10px;
}

.i2 {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.blogpost3 {
  color: rgb(252, 152, 169);
  background-color: rgb(255, 244, 244);
  text-align: center;
  margin: 20px auto;
  width: 40%;
  border: 3px solid #9dbae9;
  padding: 10px;
}

.i3 {
  width: 500px;
  height: 300px;
  object-fit: cover;
}
