body {
  background-color: rgb(249, 253, 242);
  color: rgb(247, 179, 179);
  font-size: 25px;
}
.head {
  color: rgb(252, 143, 161);
  background-color: rgb(255, 244, 244);
  text-align: center;
}

.capybara {
  text-align: center;
  background-image: url(media/beach.jpg); /* sets the background around the .beach text */
  height: 20vh; /* sets the height of the element (vh operates in relation to the screen's height */
  border: 8px solid black; /* creates a colored border around the element */
  margin-top: 50px;
}

.beta {
  background-color: royalblue;
  width: 50vw; /* sets the width of the element (vw operates in relation to the screen's width */
  padding: 20px 8px 6px 7px; /* adds padding to the inside of an element in the order of top, right, bottom, and left. padding is the distance of an element to its border. */
}

/*using # allows you to call on an id in css */
#beta2 {
  width: 75vw;
  margin: 50px 8px 6px 20px; /* sets the margin around an element in the order of top, right, bottom, left. margin is the distance between an element and the elements around it.*/
  color: white; /* sets the color of the element, in this case it's the font size */
  text-align: right; /* places text on the right side of an element */
  font-size: 5vh; /* changes font size */
}

.parent {
  border: 5px solid red;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: 200px;
}
.child {
  border: 3px solid green;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
